<!doctype html>
<html lang="en">
<head>
    <title>rbt csv-report</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-table.min.css">
</head>

<body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap-table.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">rbt report</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
            </li>
        </ul>
        <span class="navbar-text">
            created {{ time }}
        </span>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">csv report</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table id="table" class="table table-hover" data-toggle="table" data-height="510" data-search="true" data-pagination="true" style="max-width: 90%;">
                <thead>
                <tr>
                    {% for title in titles %}
                    <th>{{ title }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for element in table %}
                    <tr>
                        {% for title in titles %}
                        <td>{{ element[title] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>