<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot</title>
    <script src="../js/vega.min.js"></script>
    <script src="../js/vega-lite.min.js"></script>
    <script src="../js/vega-embed.min.js"></script>
</head>
<body>
<div style="position: center; width: 100%;" id="plot"></div>
<script>
    let plot = {
        "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
        "data": {"values": {{ table }}},
        "width": "container",
        "mark": "bar",
        "encoding": {
        "x": {
            "field": "key",
            "sort": {"field": "value", "order": "descending"},
            "title": "{{ title }}"
        },
        "y": {"field": "value", "type": "quantitative", "title": null}
        }
    }

    vegaEmbed('#plot', plot);
</script>
</body>
</html>