<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/oncoprint.css">
        <title>{{ gene|safe }}</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">rbt report</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
                </li>
            </ul>
            <span class="navbar-text">
                    created {{ time }}
                </span>
        </div>
    </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../indexes/index1.html">Oncoprint</a></li>
                <li class="breadcrumb-item active" aria-current="page">gene: {{ gene|safe }}</li>
            </ol>
        </nav>
        <div id="oncoprint"></div>

        {% if pages > 1 %}
        <div>
            <nav aria-label="gene navigation">
                <ul class="pagination justify-content-center">
                    {% if current_page > 1 %}
                        {% if current_page != 2 %}
                            <li class="page-item"><a class="page-link" href="{{ gene|safe }}1.html">First</a></li>
                            <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="{{ gene|safe }}{{ current_page - 1 }}.html">{{  current_page - 1 }}</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="{{ gene|safe }}{{ current_page }}.html">{{  current_page  }}</a></li>
                    {% if current_page < pages %}
                        <li class="page-item"><a class="page-link" href="{{ gene|safe }}{{ current_page + 1 }}.html">{{  current_page + 1 }}</a></li>
                        {% if current_page != (pages - 1) %}
                            <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                            <li class="page-item"><a class="page-link" href="{{ gene|safe }}{{ pages }}.html">Last</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

        <script src="../js/jquery.min.js"></script>
        <script src="../js/jsonm.min.js"></script>
        <script src="../js/vega.min.js"></script>
        <script src="../js/vega-lite.min.js"></script>
        <script src="../js/vega-embed.min.js"></script>
        <script src="../js/lz-string.min.js"></script>
        <script src="plots/{{ gene | safe }}{{ current_page }}.js"></script>
        <script src="../js/gene-report.js"></script>
    </body>
</html>
