<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            body {
                text-align: center;
            }
            #oncoprint {
                margin-top: 15px;
                text-align: center;
            }
        </style>
        <title>Oncoprint (only recurrent genes)</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">rbt report</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
                </li>
            </ul>
            <span class="navbar-text">
          created {{ time }}
        </span>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Oncoprint</li>
            </ol>
        </nav>
        <div id="oncoprint"></div>

        {% if pages > 1 %}
        <div>
            <nav aria-label="gene navigation">
                <ul class="pagination justify-content-center">
                {% for i in range(start=1,end=pages+1) %}
                    <li class="page-item"><a class="page-link" href="index{{ i }}.html">{{ i }}</a></li>
                {% endfor %}
                </ul>
            </nav>
        </div>
        {% endif %}


        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega@5.10.1"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/jsonm@1.0.10/build/jsonm.min.js"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-lite@4.10.4"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-embed@6.5.2"|embed_source|safe }}
        </script>

        <script>
            var spec = {{ oncoprint | safe }};
            const unpacker = new jsonm.Unpacker();
            spec = unpacker.unpack(spec);
            let changed_records = []
            let delete_records = []
            spec.data.values.forEach(function(record, j) {
                let variants = record.variants.split("/");
                let impacts = record.impact.split("/");
                if (variants.length > 1) {
                    for (var i = 0; i < variants.length; i++) {
                        let field = "variants" + (i+1);
                        let layer_record = JSON.parse(JSON.stringify(record));
                        layer_record[field] = variants[i];
                        layer_record.count_variants = variants[i];
                        let impact = 0;
                        console.log(impacts);
                        impacts.forEach(function(imp) {
                            let v = imp.split("=");
                            if (v[0] === variants[i]) {
                                impact = v[1];
                            }
                        })
                        layer_record.count_impact = impact;
                        changed_records.push(layer_record);
                        console.log(layer_record);
                    }
                    delete_records.push(j);
                } else {
                    record.variants1 = record.variants;
                    record.count_variants = record.variants;
                    let imp = record.impact.split("=");
                    record.count_impact = imp[1];
                }
            });
            for (let i = 0; i < delete_records.length; i++) {
                console.log(spec.data.values[delete_records[i]-i]);
                spec.data.values.splice(delete_records[i]-i, 1);
            }
            changed_records.forEach(function(record) {
                spec.data.values.push(record);
            });
            vegaEmbed('#oncoprint', spec).then(function(result) {
                result.view.addEventListener('click', function(event, item) {
                    window.location.href = 'genes/' + item.datum.gene + '.html';
                });
            });

        </script>
    </body>
</html>
