<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/oncoprint.css">
        <title>Oncoprint (only recurrent genes)</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">rbt report</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    created {{ time }}
                </span>
            </div>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Oncoprint</li>
            </ol>
        </nav>
        <div>
            <a class="" data-toggle="modal" data-target="#gene-search">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
            </a>
        </div>
        <div id="oncoprint"></div>

        {% if pages > 1 %}
        <div>
            <nav aria-label="gene navigation">
                <ul class="pagination justify-content-center">
                {% if current_page > 1 %}
                    {% if current_page != 2 %}
                        <li class="page-item"><a class="page-link" href="index1.html">First</a></li>
                        <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="index{{ current_page - 1 }}.html">{{  current_page - 1 }}</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="index{{ current_page }}.html">{{  current_page  }}</a></li>
                {% if current_page < pages %}
                    <li class="page-item"><a class="page-link" href="index{{ current_page + 1 }}.html">{{  current_page + 1 }}</a></li>
                    {% if current_page != (pages - 1) %}
                        <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                        <li class="page-item"><a class="page-link" href="index{{ pages }}.html">Last</a></li>
                    {% endif %}
                {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

        <div class="modal fade" id="gene-search" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Prefix search for genes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe src="../prefixes/prefixes.html" frameBorder="0" style="width: 100%; height: min(530px, 50vh)"></iframe>
                    </div>
                    <div class="modal-footer">
                        <!-- <small class="mr-auto"><i>Lorem Ipsum.</i></small> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/jquery.min.js"></script>
        <script src="../js/jsonm.min.js"></script>
        <script src="../js/vega.min.js"></script>
        <script src="../js/vega-lite.min.js"></script>
        <script src="../js/vega-embed.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="../js/lz-string.min.js"></script>
        <script src="plot{{ current_page }}.js"></script>
        <script src="../js/report.js"></script>
    </body>
</html>
