<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                text-align: center;
            }
            #oncoprint {
                text-align: center;
            }
        </style>
        <title>Oncoprint (only recurrent genes)</title>
    </head>
    <body>
        <div id="oncoprint"></div>

        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega@5.10.1"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/jsonm@1.0.10/build/jsonm.min.js"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-lite@4.10.4"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-embed@6.5.2"|embed_source|safe }}
        </script>

        <script>
            var spec = {{ oncoprint | safe }};
            const unpacker = new jsonm.Unpacker();
            spec = unpacker.unpack(spec);
            let changed_records = []
            let delete_records = []
            spec.data.values.forEach(function(record, j) {
                let variants = record.variants.split("/");
                if (variants.length > 1) {
                    for (var i = 0; i < variants.length; i++) {
                        let field = "variants" + (i+1);
                        let layer_record = JSON.parse(JSON.stringify(record));
                        layer_record[field] = variants[i];
                        changed_records.push(layer_record);
                    }
                    delete_records.push(j);
                } else {
                    record.variants1 = record.variants;
                }
            });
            for (let i = 0; i < delete_records.length; i++) {
                console.log(spec.data.values[delete_records[i]-i]);
                spec.data.values.splice(delete_records[i]-i, 1);
            }
            changed_records.forEach(function(record) {
                spec.data.values.push(record);
            });
            vegaEmbed('#oncoprint', spec).then(function(result) {
                result.view.addEventListener('click', function(event, item) {
                    window.location.href = 'genes/' + item.datum.gene + '.html';
                });
            });

        </script>
    </body>
</html>