<!doctype html>
<html lang="en">
<head>
    <title>{{ gene }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/oncoprint.css">
</head>

<body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/jsonm.min.js"></script>
<script src="../../js/vega.min.js"></script>
<script src="../../js/vega-lite.min.js"></script>
<script src="../../js/vega-embed.min.js"></script>
<script src="../../js/lz-string.min.js"></script>
{% for file in js_imports %}
<script src="../../js/{{ file }}"></script>
{% endfor %}
<script src="plots/{{ gene }}.js"></script>
<script src="../../js/table-report.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">rbt report</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
            </li>
        </ul>
        <span class="navbar-text">
                    created {{ time }}
                </span>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../indexes/index1.html">Oncoprint</a></li>
        <li class="breadcrumb-item"><a href="../../genes/{{ gene|safe }}1.html">gene: {{ gene|safe }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">group: {{ sample }}</li>
    </ol>
</nav>
<div class="container-fluid ">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <table id="table" class="table-bordered" data-toggle="table" data-height="305" data-search="true" data-pagination="true">
                            <thead>
                            <tr>
                                <th scope="col">contig</th>
                                <th scope="col" data-sortable="true">id</th>
                                <th scope="col" data-sortable="true">pos</th>
                                <th scope="col">ref</th>
                                <th scope="col">alt</th>
                                {% for variant in variants %}{% if loop.first %}{% if variant.format %}{% for k, v in variant.format %}{% for smpl, val in v %}
                                <th scope="col">{{ smpl }}:{{ k }}</th>
                                {% endfor %}{% endfor %}{% endif %}{% endif %}{% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for variant in variants %}
                            <tr
                                    class="variant-row"
                                    id="variant{{ loop.index }}"
                                    data-idx="{{ loop.index }}"
                                    data-name="{{ variant.name }}"
                                    data-id="{{ variant.id }}"
                                    data-position="{{ variant.position }}"
                                    data-type="{{ variant.var_type }}"
                                    data-reference="{{ variant.reference }}"
                                    data-alternatives="{{ variant.alternatives | safe }}"
                                    {% if variant.json_format %}data-format="{{ variant.json_format | escape  }}"{% endif %}
                                    {% if variant.json_info %}data-info="{{ variant.json_info | escape  }}"{% endif %}
                                    {% for k,v in variant.vis %}data-vis-sample{{ loop.index }}="{{ k }}"{% endfor %}
                                    data-vislen="{{ variant.vis | length }}"
                                    data-packed=true
                                    data-annlen="{{ variant.ann | length }}"
                                    data-description="{{ description }}"
                                    {% for attr in variant.ann %}{% set rowloop = loop.index %}{% for a in attr %}{% if a %}
                                    data-{{ "ann" ~ "[" ~ rowloop ~ "][" ~ loop.index ~ "]" }}="{{ a }}"
                                    {% endif %}{% endfor %}{% endfor %}
                            >
                                <th scope="row">{{ variant.name }}</th>
                                <td>{{ variant.id }}</td>
                                <td>{{ variant.position }}</td>
                                <td>{{ variant.reference }}</td>
                                <td>{{ variant.alternatives}}</td>
                                {% if variant.format %}{% for k, v in variant.format %}{% for smpl, val in v %}{% if val is iterable %}
                                <td scope="col">
                                {% for value in val %}{{ value }}{% if not loop.last %}, {% endif %}{% endfor %}
                                </td>
                                {% else %}
                                <td scope="col">{{ val }}</td>{% endif %}{% endfor %}{% endfor %}{% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="overflow: auto; height: calc(100vh - 450px);">
                    {% for variant in variants %}
                        {% if loop.first %}
                        <nav>
                            <ul class="nav nav-tabs" id="sampleTabs" role="tablist">
                                {% for k,v in variant.vis %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first %}active{% endif %}" id="{{ k }}-tab" data-toggle="tab" href="#vis{{ k }}" role="tab" aria-controls="vis{{ k }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ sample }}:{{ k }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                        <div class="tab-content" id="sampleTabContent">
                        {% for k,v in variant.vis %}
                        <div id="vis{{ k }}" class="tab-pane fade {% if loop.first %}show active{% endif %}" role="tabpanel" aria-labelledby="{{ k }}-tab">
                            <div id="vis{{ loop.index }}" class="justify-content-center" style="width: 100%; margin: 10px;"></div>
                        </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4"  style="overflow: auto; height: calc(100vh - 204px); margin-top: 59px;">
                <table id="sidebar" class="table table-hover table-sm">
                </table>
                <table id="ann-sidebar" class="table-sm" data-widht="100" data-toggle="table">
                </table>
                <div id="custom-sidebar">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
