<!doctype html>
<html lang="en">
<head>
    <title>{{ gene }}</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-table.min.css">
</head>

<body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/jsonm.min.js"></script>
<script src="../../js/vega.min.js"></script>
<script src="../../js/vega-lite.min.js"></script>
<script src="../../js/vega-embed.min.js"></script>
<script src="../../js/table-report.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">rbt report</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
            </li>
        </ul>
        <span class="navbar-text">
                    created {{ time }}
                </span>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../indexes/index1.html">Oncoprint</a></li>
        <li class="breadcrumb-item"><a href="../../genes/{{ gene|safe }}1.html">gene: {{ gene|safe }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">sample: {{ sample }}</li>
    </ol>
</nav>
<div class="container-fluid ">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <table id="table" class="table table-hover" data-toggle="table" data-height="510" data-search="true" data-pagination="true">
                            <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col" data-sortable="true">id</th>
                                <th scope="col" data-sortable="true">position</th>
                                <th scope="col">reference</th>
                                <th scope="col">alternative</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for variant in variants %}
                            <tr
                                    class="variant-row"
                                    id="{{ variant.id }}"
                                    data-name="{{ variant.name }}"
                                    data-id="{{ variant.id }}"
                                    data-position="{{ variant.position }}"
                                    data-type="{{ variant.var_type }}"
                                    data-reference="{{ variant.reference }}"
                                    data-alternatives="{{ variant.alternatives | safe }}"
                                    {% if variant.format %}
                                    data-format="{{ variant.format | escape  }}"
                                    {% endif %}
                                    {% if variant.info %}
                                    data-info="{{ variant.info | escape  }}"
                                    {% endif %}
                                    {% for k,v in variant.vis %}
                                        data-vis{{ loop.index }}="{{ v | escape }}"
                                        data-vis-sample{{ loop.index }}="{{ k }}"
                                    {% endfor %}
                                    data-vislen="{{ variant.vis | length }}"
                                    data-packed=true
                                    data-annlen="{{ variant.ann | length }}"
                                    data-description="{{ description }}"
                                    {% for attr in variant.ann %}
                                        {% set rowloop = loop.index %}
                                        {% for a in attr %}
                                            data-{{ "ann" ~ "[" ~ rowloop ~ "][" ~ loop.index ~ "]" }}="{{ a }}"
                                        {% endfor %}
                                    {% endfor %}
                            >
                                <th scope="row">{{ variant.name }}</th>
                                <td>{{ variant.id }}</td>
                                <td>{{ variant.position }}</td>
                                <td>{{ variant.reference }}</td>
                                <td>{{ variant.alternatives}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="vis" class="justify-content-center" style="width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <table id="sidebar" class="table table-hover table-sm" style="margin-top: 58px;">
                </table>
                <table id="ann-sidebar" class="table table-hover table-sm" data-widht="100" data-toggle="table">
                </table>
                <div id="custom-sidebar">
                </div>
            </div>
        </div>
    </div>
</body>
</html>