<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                text-align: center;
            }
            #oncoprint {
                text-align: center;
            }
        </style>
        <title>Oncoprint</title>
    </head>
    <body>
        <div id="oncoprint"></div>

        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega@5.10.1"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-lite@4.10.4"|embed_source|safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-embed@6.5.2"|embed_source|safe }}
        </script>

        <script>
            var spec = {
                "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
                "data": {
                    "values": {{ data|safe }}
                },
                "autosize": {
                    "type": "fit",
                    "contains": "padding"
                },
                "spacing": 15,
                "vconcat": [{
                    "mark": "bar",
                    "height": 100,
                    "encoding": {
                    "x": {
                        "field": "sample",
                        "type": "ordinal",
                        "scale": {},
                        "axis": null
                    },
                    "y": {
                        "field": "variants",
                        "aggregate": "count",
                        "type": "quantitative",
                        "scale": {"domain": [0,400]}
                    },
                    "color": {
                        "field": "variants",
                        "type": "nominal",
                        "title": "Variants",
                        "scale": {
                            "domain": ["SNV", "MNV", "DEL", "INS", "DUP", "INV", "BND", "Complex"],
                            "range": ["#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#ff7f00"],
                            "type": "ordinal"
                        }
                        }
                    }
                },
                {
                    "spacing": 15,
                    "bounds": "flush",
                    "hconcat": [{
                    "mark": {
                        "type": "rect",
                        "tooltip": {"content": "data"}
                    },
                    "encoding": {
                        "x": {
                            "field": "sample",
                            "type": "ordinal",
                            "scale": {}
                        },
                        "y": {
                            "field": "gene",
                            "type": "ordinal",
                            "sort": {
                                "op": "valid",
                                "field": "variants",
                                "order": "descending"
                            }
                        },
                        "color": {
                            "field": "variants",
                            "type": "nominal",
                            "title": "Variants",
                            "scale": {
                                "domain": ["SNV", "MNV", "DEL", "INS", "DUP", "INV", "BND", "Complex"],
                                "range": ["#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#ff7f00"],
                                "type": "ordinal"
                            }
                        }
                    }
                    },
                    {
                    "mark": "bar",
                    "width": 100,
                    "encoding": {
                        "y": {
                            "field": "gene",
                            "type": "ordinal",
                            "sort": {
                                "op": "valid",
                                "field": "variants",
                                "order": "descending"
                            },
                            "axis": null
                        },
                        "x": {
                            "field": "variants",
                            "aggregate": "count",
                            "type": "quantitative"
                        },
                        "color": {
                            "field": "variants",
                            "type": "nominal",
                            "title": "Variants",
                            "scale": {
                                "domain": ["SNV", "MNV", "DEL", "INS", "DUP", "INV", "BND", "Complex"],
                                "range": ["#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#ff7f00"],
                                "type": "ordinal"
                            }
                        }
                    }
                    }]
                }]
            };
            vegaEmbed('#oncoprint', spec);

        </script>
    </body>
</html>